DB_URL=jdbc:mysql://localhost:3306/pharmacy_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=pharmacy_user
DB_PASSWORD=Pharmacy@12345
SERVER_PORT=9090
APP_CORS_ALLOWED_ORIGIN=http://localhost:5173
